header{
    background-color: #1C2B35;
    padding:10px 0;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    text-decoration: none;
    color:#fff;
    margin:5px 30px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
}
header nav a:hover{
    
    text-shadow: 0 0 2px rgb(234, 161, 27);
}